In [2]:
import pandas as pd
import numpy as np

In [3]:
from sklearn.preprocessing import StandardScaler

In [4]:
scaler = StandardScaler()

In [5]:
# Load train dataset
train_df = pd.read_csv('https://github.com/dustywhite7/Econ8310/raw/master/AssignmentData/assignment3.csv')
train_df.head()

,id,DateTime,Total,Discounts,Brewed_Coffee_12_oz,Brewed_Coffee_16_oz,Aquafina_Water,Muffin_Pastry_Case,Extra_Syrup,Bottled_Soda_Mt_Dew,...,Sweet_Pomegranate,Gatorade_Grape,White_Mocha_12_oz,Whipped_Topping,Starbucks_DS_Mocha,Hot_Chocolate_16_oz,Dr_Pepper,Ocean_Spray_CranGrape,Gum_Peppermint,meal
0,9AYC,2019-01-07 08:02:00,3.96,0.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,6IPU,2019-01-07 08:03:00,3.57,0.0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,0
2,IIG5,2019-01-07 08:07:00,2.21,0.0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,RG5T,2019-01-07 08:22:00,2.84,0.0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,9F4F,2019-01-07 08:24:00,4.58,0.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
train_df.meal.value_counts()

meal
0    11665
1     2504
Name: count, dtype: int64

In [7]:
drop_columns = ['id','DateTime','meal']

In [8]:
train_df['DateTime'] = pd.to_datetime(train_df['DateTime'])

In [9]:
train_df.dtypes

id                               object
DateTime                 datetime64[ns]
Total                           float64
Discounts                       float64
Brewed_Coffee_12_oz               int64
                              ...
Hot_Chocolate_16_oz               int64
Dr_Pepper                         int64
Ocean_Spray_CranGrape             int64
Gum_Peppermint                    int64
meal                              int64
Length: 84, dtype: object

In [10]:
# Load test dataset
test_df = pd.read_csv('https://github.com/dustywhite7/Econ8310/raw/master/AssignmentData/assignment3test.csv')
test_df.head()

,id,DateTime,Total,Discounts,Brewed_Coffee_12_oz,Brewed_Coffee_16_oz,Aquafina_Water,Muffin_Pastry_Case,Extra_Syrup,Bottled_Soda_Mt_Dew,...,Sweet_Pomegranate,Gatorade_Grape,White_Mocha_12_oz,Whipped_Topping,Starbucks_DS_Mocha,Hot_Chocolate_16_oz,Dr_Pepper,Ocean_Spray_CranGrape,Gum_Peppermint,meal
0,MNC7,2019-05-02 11:08:00,4.06,0.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
1,X1WE,2019-05-02 11:09:00,1.74,0.0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,NaN
2,8V7V,2019-05-02 11:11:00,0.25,0.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
3,81U1,2019-05-02 11:17:00,2.20,0.0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
4,DTQ8,2019-05-02 11:23:00,8.01,0.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN

In [11]:
train_df['Total'] = scaler.fit_transform(train_df[['Total']]) # Standardize total column

In [12]:
test_df['Total'] = scaler.fit_transform(test_df[['Total']]) # Standardize total column

In [13]:
train_df.Total.min()

np.float64(-3.877971335836874)

In [14]:
test_df['DateTime'] = pd.to_datetime(test_df['DateTime'])

In [ ]:
from xgboost import XGBClassifier

In [15]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [17]:
# Upper case before split, lower case after
Y = train_df['meal']
# make sure you drop a column with the axis=1 argument
X = train_df.drop(drop_columns, axis=1) 

x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.3, stratify=Y)

In [83]:
model = XGBClassifier(n_estimators=100, max_depth=10, objective='binary:logistic')

In [84]:
modelFit = model.fit(X, Y)

In [85]:
pred = modelFit.predict(x_test)

In [80]:
y_test

1639     0
7580     1
1195     0
3852     1
8731     0
        ..
4832     0
11875    1
9624     0
7067     0
1033     1
Name: meal, Length: 4251, dtype: int64

In [81]:
print(accuracy_score(y_test, pred)*100)

88.35568101623149

In [86]:
Y_test = modelFit.predict(test_df.drop(drop_columns, axis=1))

### Random Forest

In [34]:
# Randomly create train and test data
x, xt, y, yt = train_test_split(X, Y, test_size = 0.3, stratify=Y)

In [35]:
from sklearn.tree import DecisionTreeClassifier

# Generate the tree model
tree = DecisionTreeClassifier(max_depth=15, min_samples_leaf=20)
# Fit the tree to the training data
tclf = tree.fit(x, y)
# Make predictions
tpred = tclf.predict(xt)
# Print the accuracy score of the fitted model
print("\nThe decision tree has an accuracy of : %s\n" 
	% str(accuracy_score(tpred, yt)))

The decision tree has an accuracy of : 0.8694424841213833

In [37]:
from sklearn.ensemble import RandomForestClassifier

# Generate the random forest model
forest = RandomForestClassifier(n_estimators=100, n_jobs = -1)
# Fit the model to the training data
fclf = forest.fit(x, y)
# Make predictions
fpred = fclf.predict(xt)
# Print the accuracy score of the fitted model
print("The random forest has an accuracy of : %s\n" 
	% str(accuracy_score(fpred, yt)))

The random forest has an accuracy of : 0.8800282286520819

In [38]:
# Generate the random forest model
model = RandomForestClassifier(n_estimators=100, n_jobs = -1)

In [42]:
modelFit = model.fit(X, Y)

In [43]:
pred = modelFit.predict(test_df.drop(drop_columns, axis=1))

In [44]:
pred

array([1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0])